.menuCategory {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .menuCategory {
    flex-direction: row;
    flex-wrap: wrap;
    /* column-gap: auto; */
    justify-content: space-around;
  }
}
