.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}
.left {
  display: flex;
  flex-direction: column;
}

.productTitle {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
}

.productDescription {
  font-size: 0.9em;
  text-transform: lowercase;
}
.productImage {
  height: 20vh;
  width: 20vh;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.057);
}

@media only screen and (max-width: 768px) {
  .menuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 5vh;
    flex: 1;
    width: auto;
  }

  .productImage {
    height: 15vh;
    width: 15vh;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.057);
  }

  .left {
    padding-top: 10px;
  }
}
