.menuItem {
  width: 30%;
  /* overflow: hidden; */
  position: relative;
}

.productTitle {
  padding-top: 7%;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.productImage {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .menuItem {
    width: 45%;
  }
}
