.navIllustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  overflow: hidden;
}

.sticky {
  position: fixed;
}
.navBar {
  height: 10vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #fff;
}
.menu {
  color: #000;
  display: flex;
  column-gap: 10px;
}
.menu li {
  list-style: none;
}
.menu li a:active,
.menu li a:link,
.menu li a:hover,
.menu li a:visited {
  color: #000;
  text-decoration: none;
}

.left,
.right {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 50%;
  z-index: 10;
}
.logo.atTop {
  margin-top: -20vh;
}
@media only screen and (max-width: 768px) {
  .logo {
    width: 100%;
  }
  .hamburgerIcon {
    display: block;
  }
  .menu {
    width: 100%;
    flex-direction: column;
    column-gap: 10px;
    display: flex;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: #ffffff;
    opacity: 1;
    overflow: hidden;
  }

  .menu li {
    padding: 20px 10px;
  }
}
