.pageHeader {
  color: #000;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pageHeaderTitle {
  text-transform: uppercase;
  font-size: 4em;
}

@media only screen and (max-width: 768px) {
  .pageHeader {
    height: 20vh;
  }
}
